@charset "utf-8"

// If need, change your variables before importing Bulma
$charcoal: #36454F

$primary: #36454F

$link: #407FC2

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"

@import "~bulma/bulma.sass"


.navbar
	padding: 1.2rem 0
	box-shadow: none
	z-index: auto

.skills
	margin-top: -8rem
	padding-bottom: 1rem

.skills-box .content ul
	list-style: none
	margin: 0


.skills-box .column
	border-bottom: 1px solid #E6ECF8
	border-top: 1px solid #E6ECF8
	border-right: 1px solid #E6ECF8
	border-left: 1px solid #E6ECF8

.is-100-vh
	min-height: calc(100vh - 5.65rem)

.navbar-brand
	justify-content: center

.navbar-buttons
	justify-content: center