@charset "utf-8"

// If need, change your variables before importing Bulma
$charcoal: #36454F

$primary: #36454F

$link: #407FC2

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Fira+Mono&display=swap')


$family-sans-serif: 'Arimo', sans-serif


@import "~bulma/bulma.sass"


.navbar
	padding: 1.2rem 0
	box-shadow: none
	z-index: auto

.skills
	margin-top: -8rem
	padding-bottom: 1rem

.skills-box .content ul
	list-style: none
	margin: 0


.is-100-vh
	min-height: calc(100vh - 5.65rem)

.navbar-brand
	justify-content: center

.navbar-buttons
	justify-content: center


h1
	font-family: 'Fira Mono', monospace